# IDEA

# User-specific stuff:
.idea/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media

# Environments
.env

# PyBuilder
target/

# Celery
*.bak
*.dat
*.dir

# Test
.coverage

# virtualenv
.venv
venv/
ENV/
